//drag and drop
.pp-drndrp {
  border: 1px dashed #979797;
  margin-top: 25px;
  background-color: rgba(225, 241, 246, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  min-height: 220px;
  padding: 10px;
  position: relative;

  label {
    font-size: 14px;
    font-weight: 600;
  }

  .disable-upload {
    display: none;
    cursor: not-allowed;
  }

  span:first-child:after {
    content: "*";
    font-size: 0.58479532rem;
    line-height: 0.5rem;
    color: #c92100;
    margin-left: 0.25rem;
  }

  .inst-file-wrapper {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inst-file-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .inst-file-text {
      color: white;
    }
  }
}

.inst-img {
  display: none;
}

.inst-file input {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
}

.inst-file img {
  object-fit: contain;
  height: 100%;
  position: absolute;
  width: 98%;
  background: #f4fafc;
}

.z-1 {
  z-index: 1;
}

.bold {
  font-weight: bold;
}

@media (min-width: 1281px) {
    .add-logo-drndrp {
      display: flex;
      justify-content: center;
  
      .pp-drndrp {
        height: 215px;
        width: 375px;
      }
    }
  }
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .pp-drndrp {
      width: 100%;
      min-height: 220px;
  
      .btn-success-outline {
        width: 100%;
      }
    }
  }
  
  .error-message {
    color: #c92100 !important;
    display: block !important;
    font-size: 0.5rem !important;
    line-height: 0.5rem !important;
  }